* {
    font-family: sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px 150px;

}

.header-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;


}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 225px;
    flex: 1;

}

.hero-content {
    width: 425px;
}


.hero-image img {
    max-width: 100%;
    max-height: 227px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 12px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 50px;
    border-radius: 8px;
    border-color: #3882F6;
}

.section-1 {
    background-color: #1F2937;
    padding-bottom: 100px;

}

.section-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 25px;
}

.section-2-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    
}

.section-2-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px 225px;
    
}

.section-2-info img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 200px;
    height: auto;
    
}
.section-2-info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section-3 {
    background-color: #E5E7EB;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.section-3-text {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    align-items: flex-end;
    padding-top: 100px;
    font-size: 36px;
    color:#1F2937;
}

.quote {
    font-style: italic;
}

.quote-author {
    font-size: 25px;
}

.section-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    

}

.cta {
    background-color: #3882F6;
    display: flex;
    width: 900px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 8px;
}

.cta-button {
    border: 3px solid white;
}

.section-5 {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    text-align: center;
}